

img{
    height: 139;
    width: 176.5px;
    margin: 10.5px;
}

.btn{
    height:30px;
    width: 30px;
    margin: 9.5px;
}

.hide{
    display:none;
}

nav{
    height: 33px;
    /* width:600px; */
    background-color: #ff7f00;
}