* {
    box-sizing: border-box;
}

html {
    color: var(--clr3);
    font-family:Montserrat-Regular ;
}


body {
    margin: 0;
    background-color: var(--clr3);
}



.hide{
    display:none;
}




