@media (max-width: 1020px) {
    .main-layout {
      max-width:1200px;
      height: 937px;
    }
    .card {
      flex-direction: column;
    }
  }

/* 
  @media (max-width: 600px) {
    .main-layout {
      max-width:1200px;
      height: 937px;
    }
    .meme {
      flex-direction: row;
    }
  } */